<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale-1">
	<link data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<title>Formulario</title>
</head>
<body>

	<header data-th-replace="~{/layouts/header :: header}"></header>
	
	<main class="container">
		<h1> FORMULARIO CARRERA</h1>
		<form data-th-action="${flag}?@{carrera/modificarCarrera}:@{/carrera/guardarCarrera}" data-th-object="${nuevaCarrera}" method="post">
  			<div class="mb-3 col-sm-6">
    			<label for="codigo" class="form-label">Codigo</label>
    			<input type="text" class="form-control" id="codigo" data-th-field="*{codigo}" data-th-readonly=${flag}>
  			</div>
  			<div class="mb-3 col-sm-6">
    			<label for="nombre" class="form-label">Nombre Carrera</label>
    			<input type="text" class="form-control" id="nombre" data-th-field="*{nombre}">
  			</div>
  			<div class="mb-3 col-sm-6">
    			<label for="cantidadAnios" class="form-label">Cantidad de años</label>
    			<input type="number" class="form-control" id="cantidadAnios" data-th-field="*{cantidadAnios}">
  			</div>
  			<button type="submit" class="btn btn-primary">Guardar</button>
		</form>
	</main>
	
	<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
	
	<script type="text/javascript" data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>