<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale-1">
<link data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<title>Formulario</title>
</head>
<body>
	<main class="container">
		<h1> FORMULARIO CARRERA</h1>
		<form data-th-action="@{/carrera/guardar}" data-th-object="${nuevaCarrera}" method="post" enctype="multipart/form-data">
  			<div class="mb-3 col-sm-6">
    			<label for="codigo" class="form-label">Codigo</label>
    			<input type="text" class="form-control" id="codigo" data-th-field="${codigo}">
  			</div>
  			<div class="mb-3 col-sm-6">
    			<label for="nombre" class="form-label">Nombre Carrera</label>
    			<input type="text" class="form-control" id="nombre" data-th-field="${nombre}">
  			</div>
  			<div class="mb-3 col-sm-6">
    			<label for="cant" class="form-label">Cantidad de años</label>
    			<input type="number" class="form-control" id="cant" data-th-field="${cant}">
  			</div>
  			<button type="submit" class="btn btn-primary">Guardar</button>
		</form>
	</main>
	
	<script type="text/javascript" data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>