 <!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale-1">
	<link data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link href="/css/estilos.css" rel="stylesheet">
	<title>Titulo</title>
</head>

<body class="container">

	<header data-th-replace="~{/layouts/header :: header}"></header>
	
	<main class="row">
		<div class="col-9"> 
			<section class="descripcionFI">
				<img class="logo" alt="" src="/img/historia.jpg" width="975px">
				
				<article>
					<p> La Universidad nace el 25 de mayo de 1972 como universidad provincial y al año siguiente se transforma en Universidad Nacional.
					Comienza a funcionar sobre la base de cuatro carreras: Ingeniería Agronómica, Ingeniería de Minas, Ingeniería Metalúrgica e Ingeniería Química.
					Su propósito fue apuntalar las actividades de explotación e industrialización de los recursos naturales de Jujuy.
					Las tres últimas carreras mencionadas pasan a constituir la actual Facultad de Ingeniería que, con el transcurso de los años, sumó a ellas un número importante de otras carreras.
					Las políticas de la Universidad Nacional de Jujuy, y especialmente de la Facultad de Ingeniería, tienden a ampliar el área de influencia y a fortalecer su acción institucional,
					en respuesta a la demanda social creciente de formación de recursos humanos que contribuyan al desarrollo científico, tecnológico y cultural.
					De esta forma, la Facultad se constituyó en vector de desarrollo de la provincia, por cuanto:
					<ul>
						<li>Posibilita la prosecución de estudios superiores a los jóvenes egresados del nivel medio, facilitando a un número creciente de ellos la obtención de un título
						universitario, sin los inconvenientes del desarraigo que tradicionalmente debían afrontar al trasladarse a centros universitarios radicados en otras provincias.
						Por ende, aporta a la economía provincial al evitar la salida de recursos económicos asociados con la radicación de estudiantes en otras provincias. </li>
						
						<li>Posibilita acceder a títulos universitarios a jóvenes cuya situación económica les impide estudiar fuera de la provincia. </li>
						
						<li>Provee de profesionales de la Ingeniería a las industrias radicadas en la provincia y de profesionales competentes a las diversas reparticiones del estado provincial.</li>
					
						<li>Incorpora a la sociedad profesionales aptos para generar emprendimientos de distinta índole.</li>
						
						<li>Mantiene fluidas relaciones institucionales con el sector productivo, las ONG, el ámbito educativo y la administración pública provincial mediante prestaciones de servicios,
						el desarrollo de actividades de investigación científica y tecnológica, y la formación y capacitación de recursos humanos. A la vez, dentro de este marco, promueve sistemas de
						pasantías para sus docentes y alumnos.</li>
					
						<li>En la actualidad, las particularidades geopolíticas del área de influencia de la Facultad le otorgan una importante proyección internacional; proyección nacida tanto
						por el impacto regional producido por la globalización y en particular por los acuerdos suscriptos por nuestro país en el marco del Mercosur, como por la habilitación de nuevos pasos
						fronterizos en la provincia los cuales la integran regionalmente mediante el corredor bioceánico. Esta realidad permite que Jujuy pase de ser una provincia muy alejada
						de los puertos argentinos a otra que está sobre la línea de unión entre los puertos comerciales del norte de Chile con los de Brasil.
						Por ende, de disponer como única salida comercial el puerto de Buenos Aires a 1700 km, ahora está a tan sólo 700 km del de Antofagasta (Chile).
						Todo ello constituye a la vez una oportunidad y un desafío para la economía regional, y en consecuencia para la Facultad.</li>
					</ul>
					</p>
				</article>
			</section>
			
			<section class="noticiasFI">
				<h4 class="not-tit"> Noticias recientes: </h4>
				
				<article>
					<h5 class="not-subt"> Presentación de Proyectos de Investigación Básica y Aplicada de la Facultad de Ingeniería de la UNJu</h5>
					
					<p>La Facultad de Ingeniería de la Universidad Nacional de Jujuy anuncia la apertura de la etapa de presentación de Proyectos de Investigación Básica y Aplicada,
					la cual inició el 13 de mayo y se extenderá hasta el 24 mayo del presente año.
					</p>
					
					<p>Esta convocatoria está dirigida a todos los docentes, investigadores y personas interesadas en participar, abarcando áreas como informática (incluyendo diversas ingenierías,
					Licenciatura en Sistemas, APU, Tecnología Universitaria en Diseño Integral de Videojuegos y Licenciatura en Informática Educativa), química (englobando Ingeniería Química y
					Licenciatura en Tecnología de los Alimentos) y ciencias de la tierra (que incluyen Ingeniería de Minas y Licenciatura en Ciencias Geológicas) de carácter interno de esta unidad académica.
					</p>
					
					<p>Los proyectos deben ser presentados en formato digital al correo electrónico secyt@fi.unju.edu.ar y en formato físico en la Secretaría de Ciencia y Técnica de la Facultad de Ingeniería.
					Se recuerda que el último día de recepción de proyectos será el 24 de mayo, hasta las 12 horas.
					</p>
					
					<p>Para consultas e información adicional, se puede dirigir a la Secretaría de Ciencia y Técnica de la Facultad de Ingeniería en horario de 8 a 12:30hs. (lunes a viernes) y de 16 a 19 hs.
					(lunes a jueves), o comunicarse a través de los siguientes correos electrónicos: secyt@fi.unju.edu.ar o coordinacionposgrado@fi.unju.edu.ar.
					¡Los esperamos para formar parte de esta importante instancia de investigación!
					</p>
				</article>
			</section>
		</div>
		
		<aside class="col-3 aside">
			<h3 class="info-tit"> Información </h3>
			<ul>
				<li>
					<a class="link-aside" href="">Biblioteca</a>
				</li>
				
				<li>
					<a class="link-aside" href="">Calendario Académico</a>
				</li>
			</ul>
		</aside>
	</main>
	
	<footer data-th-replace="~{/layouts/footer :: footer}"></footer> 
	
	<script type="text/javascript" data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
</body>
</html>