<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale-1">
<title>Titulo</title>
<link data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
	<header class="container">
		<h1> Encabezado </h1>
		<nav>
			<a href=""> link </a>
		</nav>
	</header>
	
	<main>
		
	</main>
	
	<footer>
	
	</footer>
	
	<script type="text/javascript" data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
</body>
</html>